.SearchResult {
  width: 80%;
  padding: 1rem;
  text-align: left;
  margin-top: -0.1rem;
  background-color: rgba(75, 75, 75, 0.482) ;
  z-index: 0;
  border-radius: 0 0 1rem 1rem;
} 


.SearchResult button {
  width: 25%;
  padding: 0.8rem;
  background-color: rgb(220, 171, 11);
  border: 1px solid rgb(220, 171, 11);
  border-radius: 1rem;
  margin-right: 10px;
  float: right;
}